__history
*.mp4
*.dcu
*.exe
*.7z
*.dll
LinkAddProxy
/LinkAddCmd.dpr
/LinkAddCmd.dproj
*.drc
TVideoDownloader.dproj.local
*.txt
*.map
*.ini
*.rsm
Win64/Release/TVideoDownloader.lng
*.stat
TVideoDownloader.identcache
Win64/Release/formats.json
/Win32/Release/tools/mpv.com
/Win64/Release/tools/mpv.com
/Win32/Release/tools/manual.pdf
/Win64/Release/tools/manual.pdf
